# Modifying data Within Dataframes

In [77]:
import pandas as pd

people= {
    "first" : ['Corey' , 'John' ,'Lokesh'],
    'last' : ['Schafer','Doe' , 'Doe'],
    'email' : ['something@gmail.com' , 'anything@gmail.com','Hello@gmail.com']
}

In [78]:
df = pd.DataFrame(people)

In [79]:
df

    first     last                email
0   Corey  Schafer  something@gmail.com
1    John      Doe   anything@gmail.com
2  Lokesh      Doe      Hello@gmail.com

# Updating Column & Rows

In [80]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [81]:
df.columns = ['First_Name' , 'Last_Name' , 'email']

In [82]:
df

  First_Name Last_Name                email
0      Corey   Schafer  something@gmail.com
1       John       Doe   anything@gmail.com
2     Lokesh       Doe      Hello@gmail.com

In [83]:
df.columns = [x.upper() for x in df.columns]

In [84]:
df

  FIRST_NAME LAST_NAME                EMAIL
0      Corey   Schafer  something@gmail.com
1       John       Doe   anything@gmail.com
2     Lokesh       Doe      Hello@gmail.com

In [85]:
df.columns = df.columns.str.replace('_',' ') # Making changes in Columns

In [86]:
df

  FIRST NAME LAST NAME                EMAIL
0      Corey   Schafer  something@gmail.com
1       John       Doe   anything@gmail.com
2     Lokesh       Doe      Hello@gmail.com

In [87]:
df.columns = df.columns.str.replace(' ','_') # Making changes in Columns\

In [88]:
df

  FIRST_NAME LAST_NAME                EMAIL
0      Corey   Schafer  something@gmail.com
1       John       Doe   anything@gmail.com
2     Lokesh       Doe      Hello@gmail.com

In [89]:
df.columns = [x.lower() for x in df.columns]
df

  first_name last_name                email
0      Corey   Schafer  something@gmail.com
1       John       Doe   anything@gmail.com
2     Lokesh       Doe      Hello@gmail.com

In [90]:
df.rename(columns = {'first_name' : 'first',
                        'last_name' : 'last'} , inplace = True)
df

    first     last                email
0   Corey  Schafer  something@gmail.com
1    John      Doe   anything@gmail.com
2  Lokesh      Doe      Hello@gmail.com

In [91]:
df.loc[2 ,['last','email']] = ['Joshi','Same@gmail.com']
df

    first     last                email
0   Corey  Schafer  something@gmail.com
1    John      Doe   anything@gmail.com
2  Lokesh    Joshi       Same@gmail.com

In [92]:
df['email']=df['email'].str.lower()
df

    first     last                email
0   Corey  Schafer  something@gmail.com
1    John      Doe   anything@gmail.com
2  Lokesh    Joshi       same@gmail.com

# 4 Methods
### 1. apply
### 2. map
### 3. applymap
### 4. replace

# 1. apply

In [93]:
# Can work on dataframe or series object
## Work in series

df['Len_of_emails'] = df['email'].apply(len) #Counting the length of email

In [94]:
df

    first     last                email  Len_of_emails
0   Corey  Schafer  something@gmail.com             19
1    John      Doe   anything@gmail.com             18
2  Lokesh    Joshi       same@gmail.com             14

In [95]:
def update_email(email):
    return email.upper()

In [96]:
df['email'] =df['email'].apply(update_email)
df

    first     last                email  Len_of_emails
0   Corey  Schafer  SOMETHING@GMAIL.COM             19
1    John      Doe   ANYTHING@GMAIL.COM             18
2  Lokesh    Joshi       SAME@GMAIL.COM             14

In [97]:
df['email'] =df['email'].apply(lambda x:x.lower())
df

    first     last                email  Len_of_emails
0   Corey  Schafer  something@gmail.com             19
1    John      Doe   anything@gmail.com             18
2  Lokesh    Joshi       same@gmail.com             14

In [98]:
## Working on Data Frames
df['email'].apply(len)

0    19
1    18
2    14
Name: email, dtype: int64

In [99]:
df.apply(len , axis ='columns') ## Changing the axis to columns

0    4
1    4
2    4
dtype: int64

### 2.apply map

In [100]:
df[['first','last','email']].applymap(lambda x: x.lower())

    first     last                email
0   corey  schafer  something@gmail.com
1    john      doe   anything@gmail.com
2  lokesh    joshi       same@gmail.com

In [101]:
df['first'].map(len)
df

    first     last                email  Len_of_emails
0   Corey  Schafer  something@gmail.com             19
1    John      Doe   anything@gmail.com             18
2  Lokesh    Joshi       same@gmail.com             14

In [102]:
df.columns

Index(['first', 'last', 'email', 'Len_of_emails'], dtype='object')

In [103]:
df['first']

0     Corey
1      John
2    Lokesh
Name: first, dtype: object

# Removing/Adding Columns And Rows