In [7]:
import pandas as pd

people= {
    "first" : ['Corey' , 'John' ,'Lokesh','Adam'],
    'last' : ['Schafer','Doe' , 'Doe','Doe'],
    'email' : ['something@gmail.com' , 'anything@gmail.com','Hello@gmail.com' ,'Adam@email.com']
}

df = pd.DataFrame(people)

df

    first     last                email
0   Corey  Schafer  something@gmail.com
1    John      Doe   anything@gmail.com
2  Lokesh      Doe      Hello@gmail.com
3    Adam      Doe       Adam@email.com

# Sorting Data

In [8]:
# By last name
df.sort_values(by = 'last' ,ascending = False)

    first     last                email
0   Corey  Schafer  something@gmail.com
1    John      Doe   anything@gmail.com
2  Lokesh      Doe      Hello@gmail.com
3    Adam      Doe       Adam@email.com

In [9]:
# Sorting with respect to multiple columns

df.sort_values(by = ['last' , 'first'])

    first     last                email
3    Adam      Doe       Adam@email.com
1    John      Doe   anything@gmail.com
2  Lokesh      Doe      Hello@gmail.com
0   Corey  Schafer  something@gmail.com

In [11]:
# Ascending and decending order
df.sort_values(by = ['last' , 'first'] , ascending = [False , True])

    first     last                email
0   Corey  Schafer  something@gmail.com
3    Adam      Doe       Adam@email.com
1    John      Doe   anything@gmail.com
2  Lokesh      Doe      Hello@gmail.com