# Data Filtering

In [1]:
import pandas as pd

In [9]:
people= {
    "first" : ['Corey' , 'John' ,'Lokesh'],
    'last' : ['Schafer','Doe' , 'Doe'],
    'email' : ['something@gmail.com' , 'anything@gmail.com','Hello@gmail.com']
}

In [10]:
df = pd.DataFrame(people)

In [11]:
df

    first     last                email
0   Corey  Schafer  something@gmail.com
1    John      Doe   anything@gmail.com
2  Lokesh      Doe      Hello@gmail.com

In [12]:
filt = (df['last'] == 'Doe')

In [13]:
df[filt]

    first last               email
1    John  Doe  anything@gmail.com
2  Lokesh  Doe     Hello@gmail.com

In [15]:
df.loc[filt , 'email']

1    anything@gmail.com
2       Hello@gmail.com
Name: email, dtype: object

# $ and | operation

In [17]:
filt = ((df['last'] == 'Doe') & (df['first'] == 'John'))

In [19]:
df.loc[filt,['last' ,'email']]

  last               email
1  Doe  anything@gmail.com

In [20]:
opp_of_filt = ~filt

In [21]:
df.loc[opp_of_filt , ['last','email']]

      last                email
0  Schafer  something@gmail.com
2      Doe      Hello@gmail.com